doctype html
html(dir='rtl' lang="he") 
   head
      title דף 404
      meta(charset='utf-8')
      style
         include ../public/style.css 
   body
    
         h1 Page Not Found
            br      
            a(href='http://localhost:8080/corona') -- חזרה לדף הבית --

            br
